  .photo-container {
    height: 60vh;
    width: 100%;

    justify-content: space-evenly;
  }
  .photos {
    background-position: center;
    background-size: cover;
    
    align-items: center;
    width: 100%;
    height: 300px;
    margin-right: 0;
    -webkit-box-reflect: below 0.01px
      linear-gradient(transparent, transparent, #0006);
  }


  .img-slide::after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: black;
      opacity: .4;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  /** SWIPPER*/

/** ELiminar esto, temporal hasta terminar el slide**/

  


  .btn-comenzemos{
    background-color: white;
    width: 100px;
    margin: 0 auto;
    padding: .8rem;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
  }


  .home-razones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .razones-img{
    order: 3;
  }

  .razones-contenido{
    display: grid;
    gap: 1.5rem;
  }
  .razones-contenido h1{
    margin: 0;
    margin-top: 1rem;
    font-size: 2.4rem;
    text-align: center;
  }
  .razones-contenido p{
    font-size: 1.5rem;
  }

  .razones-lista{
      display: grid;
      gap: 1rem;
      list-style: square;
      font-size: 1.3rem;    
  }

@media (min-width: 768px){
  .home-razones{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
  }
  .razones-img{
    order: -2;
    height: 90%;
    margin: auto 0;
  } 
  .razones-lista{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }

}


.home-galeria h1{
  text-align: center;
}
.home-galeria .galeria--img{
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px){
    .home-galeria .galeria--img{
      padding: 5rem;
      grid-template-columns: repeat(3,1fr);
    }
}

.home-galeria .galeria--img img{
  transition: all .3s linear;

}

.home-galeria .galeria--img img:hover{
  transform: scale(.9);
}