.boton-verde{
    background-color: #d4945f;
    padding: 0.8rem 4rem;
    font-family: serif;
    font-size: 1.9rem;
    border-radius: 10px;
    color: white;
    margin-top: .7rem;
    /**border: 1px solid var(--color-secundario);*/
    transition: .2s;
}

.boton-verde:hover{
    background: none;
    color: var(--color-secundario);
}