.button-paginate{
    all: unset;
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1rem;

}

.button-paginate.button-paginate-activate, .button-paginate:hover{
    background-color: var(--color-button-paginate);
    color: white;
}