
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap');

:root{
  --color-blanco: #fff;
  --color-primario: #44adb6;
  --color-secundario: #369994;
  --color-button-paginate:rgb(19, 101, 148);
}



*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;

}

html{
  font-size: 62.5%;
}

.container-sm{
  width: 90%;
  max-width: 85rem;
  margin: 0 auto;
}
.container{
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}


img{
  width: 100%;
  height: 100%;
  display: block;
}

a{
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex-grid-wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}